In [ ]:
import pandas as pd
import numpy as np

In [ ]:
co2_df = pd.read_csv("./processed_data/co2_emissions.csv")
temp_df = pd.read_csv("./processed_data/Temperature_of_countries.csv")

In [ ]:
co2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26915 entries, 0 to 26914
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            26915 non-null  object
 1   ISO                                23288 non-null  object
 2   Year                               26915 non-null  int64
 3   Annual CO2 emissions (per capita)  26915 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 841.2+ KB

In [33]:
co2_df = co2_df.loc[co2_df['Year'] >= 1995, :]

In [34]:
temp_df = temp_df.loc[temp_df['Year'] >= 1995, :]

In [35]:
merged_df = pd.merge(co2_df, temp_df, on=['ISO', 'Year'])
merged_df

,Country_x,ISO,Year,Annual CO2 emissions (per capita),Country_y,Temperature
0,Afghanistan,AFG,1995,0.086323,"Afghanistan, Islamic Rep. of",0.359
1,Afghanistan,AFG,1996,0.080092,"Afghanistan, Islamic Rep. of",-0.116
2,Afghanistan,AFG,1997,0.073313,"Afghanistan, Islamic Rep. of",0.471
3,Afghanistan,AFG,1998,0.069134,"Afghanistan, Islamic Rep. of",0.675
4,Afghanistan,AFG,1999,0.056671,"Afghanistan, Islamic Rep. of",1.198
...,...,...,...,...,...,...
5658,Zimbabwe,ZWE,2017,0.650533,Zimbabwe,0.088
5659,Zimbabwe,ZWE,2018,0.783639,Zimbabwe,0.453
5660,Zimbabwe,ZWE,2019,0.723861,Zimbabwe,0.925
5661,Zimbabwe,ZWE,2020,0.676970,Zimbabwe,0.389
5662,Zimbabwe,ZWE,2021,0.706293,Zimbabwe,-0.125

In [36]:
merged_df.drop(columns=['Country_y'], inplace=True)

In [37]:
methane_df = pd.read_csv("./processed_data/methane_emissions.csv")
methane_df

           Country  ISO  Year  Per-capita methane emissions in CO2 equivalents
0      Afghanistan  AFG  1850                                         0.957882
1      Afghanistan  AFG  1851                                         0.958965
2      Afghanistan  AFG  1852                                         0.959775
3      Afghanistan  AFG  1853                                         0.960314
4      Afghanistan  AFG  1854                                         0.960825
...            ...  ...   ...                                              ...
35641     Zimbabwe  ZWE  2017                                         0.891727
35642     Zimbabwe  ZWE  2018                                         0.890810
35643     Zimbabwe  ZWE  2019                                         0.885695
35644     Zimbabwe  ZWE  2020                                         0.874602
35645     Zimbabwe  ZWE  2021                                         0.862267

[35646 rows x 4 columns]

In [38]:
methane_df = methane_df.loc[methane_df['Year'] >= 1995, :]

In [39]:
merged_df = pd.merge(merged_df, methane_df, on=['ISO', 'Year'])
merged_df

,Country_x,ISO,Year,Annual CO2 emissions (per capita),Temperature,Country,Per-capita methane emissions in CO2 equivalents
0,Afghanistan,AFG,1995,0.086323,0.359,Afghanistan,0.582011
1,Afghanistan,AFG,1996,0.080092,-0.116,Afghanistan,0.616903
2,Afghanistan,AFG,1997,0.073313,0.471,Afghanistan,0.639881
3,Afghanistan,AFG,1998,0.069134,0.675,Afghanistan,0.650288
4,Afghanistan,AFG,1999,0.056671,1.198,Afghanistan,0.672737
...,...,...,...,...,...,...,...
5307,Zimbabwe,ZWE,2017,0.650533,0.088,Zimbabwe,0.891727
5308,Zimbabwe,ZWE,2018,0.783639,0.453,Zimbabwe,0.890810
5309,Zimbabwe,ZWE,2019,0.723861,0.925,Zimbabwe,0.885695
5310,Zimbabwe,ZWE,2020,0.676970,0.389,Zimbabwe,0.874602
5311,Zimbabwe,ZWE,2021,0.706293,-0.125,Zimbabwe,0.862267

In [40]:
merged_df.drop(columns=['Country'], inplace=True)

In [41]:
ni_df = pd.read_csv("./processed_data/nitrous_oxide_emission.csv")
ni_df

,Country,ISO,Year,Per-capita nitrous oxide emissions in CO2 equivalents
0,Afghanistan,AFG,1850,0.059624
1,Afghanistan,AFG,1851,0.060593
2,Afghanistan,AFG,1852,0.061506
3,Afghanistan,AFG,1853,0.062342
4,Afghanistan,AFG,1854,0.063098
...,...,...,...,...
35895,Zimbabwe,ZWE,2017,0.344920
35896,Zimbabwe,ZWE,2018,0.347337
35897,Zimbabwe,ZWE,2019,0.343819
35898,Zimbabwe,ZWE,2020,0.334256
35899,Zimbabwe,ZWE,2021,0.327004

In [42]:
ni_df = ni_df.loc[ni_df['Year'] >= 1995, :]
ni_df

,Country,ISO,Year,Per-capita nitrous oxide emissions in CO2 equivalents
145,Afghanistan,AFG,1995,0.160896
146,Afghanistan,AFG,1996,0.167429
147,Afghanistan,AFG,1997,0.177091
148,Afghanistan,AFG,1998,0.184699
149,Afghanistan,AFG,1999,0.190177
...,...,...,...,...
35895,Zimbabwe,ZWE,2017,0.344920
35896,Zimbabwe,ZWE,2018,0.347337
35897,Zimbabwe,ZWE,2019,0.343819
35898,Zimbabwe,ZWE,2020,0.334256
35899,Zimbabwe,ZWE,2021,0.327004

In [43]:
merged_df = pd.merge(merged_df, ni_df, on=['ISO', 'Year'])
merged_df.drop(columns=['Country'], inplace=True)
merged_df

,Country_x,ISO,Year,Annual CO2 emissions (per capita),Temperature,Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents
0,Afghanistan,AFG,1995,0.086323,0.359,0.582011,0.160896
1,Afghanistan,AFG,1996,0.080092,-0.116,0.616903,0.167429
2,Afghanistan,AFG,1997,0.073313,0.471,0.639881,0.177091
3,Afghanistan,AFG,1998,0.069134,0.675,0.650288,0.184699
4,Afghanistan,AFG,1999,0.056671,1.198,0.672737,0.190177
...,...,...,...,...,...,...,...
5307,Zimbabwe,ZWE,2017,0.650533,0.088,0.891727,0.344920
5308,Zimbabwe,ZWE,2018,0.783639,0.453,0.890810,0.347337
5309,Zimbabwe,ZWE,2019,0.723861,0.925,0.885695,0.343819
5310,Zimbabwe,ZWE,2020,0.676970,0.389,0.874602,0.334256
5311,Zimbabwe,ZWE,2021,0.706293,-0.125,0.862267,0.327004

In [44]:
population_df = pd.read_csv("./processed_data/population.csv")
population_df

,Country,ISO,Year,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,7480464.0
1,Afghanistan,AFG,1951,7571542.0
2,Afghanistan,AFG,1952,7667534.0
3,Afghanistan,AFG,1953,7764549.0
4,Afghanistan,AFG,1954,7864289.0
...,...,...,...,...
38349,Zimbabwe,ZWE,2096,NaN
38350,Zimbabwe,ZWE,2097,NaN
38351,Zimbabwe,ZWE,2098,NaN
38352,Zimbabwe,ZWE,2099,NaN
38353,Zimbabwe,ZWE,2100,NaN

In [45]:
population_df = population_df.loc[population_df['Year'] >= 1995, :]
population_df

,Country,ISO,Year,Population - Sex: all - Age: all - Variant: estimates
45,Afghanistan,AFG,1995,16418911.0
46,Afghanistan,AFG,1996,17106600.0
47,Afghanistan,AFG,1997,17788818.0
48,Afghanistan,AFG,1998,18493134.0
49,Afghanistan,AFG,1999,19262854.0
...,...,...,...,...
38349,Zimbabwe,ZWE,2096,NaN
38350,Zimbabwe,ZWE,2097,NaN
38351,Zimbabwe,ZWE,2098,NaN
38352,Zimbabwe,ZWE,2099,NaN
38353,Zimbabwe,ZWE,2100,NaN

In [46]:
merged_df = pd.merge(merged_df, population_df, on=['ISO', 'Year'])
merged_df.drop(columns=['Country'], inplace=True)
merged_df

,Country_x,ISO,Year,Annual CO2 emissions (per capita),Temperature,Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1995,0.086323,0.359,0.582011,0.160896,16418911.0
1,Afghanistan,AFG,1996,0.080092,-0.116,0.616903,0.167429,17106600.0
2,Afghanistan,AFG,1997,0.073313,0.471,0.639881,0.177091,17788818.0
3,Afghanistan,AFG,1998,0.069134,0.675,0.650288,0.184699,18493134.0
4,Afghanistan,AFG,1999,0.056671,1.198,0.672737,0.190177,19262854.0
...,...,...,...,...,...,...,...,...
5307,Zimbabwe,ZWE,2017,0.650533,0.088,0.891727,0.344920,14751101.0
5308,Zimbabwe,ZWE,2018,0.783639,0.453,0.890810,0.347337,15052191.0
5309,Zimbabwe,ZWE,2019,0.723861,0.925,0.885695,0.343819,15354606.0
5310,Zimbabwe,ZWE,2020,0.676970,0.389,0.874602,0.334256,15669663.0
5311,Zimbabwe,ZWE,2021,0.706293,-0.125,0.862267,0.327004,15993525.0

In [47]:
gdp_df = pd.read_csv("./raw_data/change-energy-gdp-per-capita.csv")
gdp_df

,Entity,Code,Year,consumption_per_capita,production_per_capita,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,NaN,NaN,1189.784668
1,Afghanistan,AFG,2003,NaN,NaN,1235.810059
2,Afghanistan,AFG,2004,NaN,NaN,1200.277954
3,Afghanistan,AFG,2005,NaN,NaN,1286.793701
4,Afghanistan,AFG,2006,NaN,NaN,1315.789063
...,...,...,...,...,...,...
5275,Zimbabwe,ZWE,2016,NaN,NaN,3678.217041
5276,Zimbabwe,ZWE,2017,NaN,NaN,3795.642334
5277,Zimbabwe,ZWE,2018,NaN,NaN,3923.030518
5278,Zimbabwe,ZWE,2019,NaN,NaN,3630.033936
5279,Zimbabwe,ZWE,2020,NaN,NaN,3353.411377

In [48]:
gdp_df = gdp_df.loc[gdp_df['Year'] >= 1995, :]
gdp_df

,Entity,Code,Year,consumption_per_capita,production_per_capita,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,NaN,NaN,1189.784668
1,Afghanistan,AFG,2003,NaN,NaN,1235.810059
2,Afghanistan,AFG,2004,NaN,NaN,1200.277954
3,Afghanistan,AFG,2005,NaN,NaN,1286.793701
4,Afghanistan,AFG,2006,NaN,NaN,1315.789063
...,...,...,...,...,...,...
5275,Zimbabwe,ZWE,2016,NaN,NaN,3678.217041
5276,Zimbabwe,ZWE,2017,NaN,NaN,3795.642334
5277,Zimbabwe,ZWE,2018,NaN,NaN,3923.030518
5278,Zimbabwe,ZWE,2019,NaN,NaN,3630.033936
5279,Zimbabwe,ZWE,2020,NaN,NaN,3353.411377

In [49]:
gdp_df.drop(columns=['consumption_per_capita', 'production_per_capita'], inplace=True)

In [50]:
gdp_df = gdp_df.rename(
    columns={
        'Entity': 'Country',
        'Code': 'ISO'
    }
)

In [55]:
merged_df = pd.merge(merged_df, gdp_df, on=['ISO', 'Year'], how='left')
merged_df.drop(columns=['Country'], inplace=True)
merged_df

,Country_x,ISO,Year,Annual CO2 emissions (per capita),Temperature,Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,1995,0.086323,0.359,0.582011,0.160896,16418911.0,NaN
1,Afghanistan,AFG,1996,0.080092,-0.116,0.616903,0.167429,17106600.0,NaN
2,Afghanistan,AFG,1997,0.073313,0.471,0.639881,0.177091,17788818.0,NaN
3,Afghanistan,AFG,1998,0.069134,0.675,0.650288,0.184699,18493134.0,NaN
4,Afghanistan,AFG,1999,0.056671,1.198,0.672737,0.190177,19262854.0,NaN
...,...,...,...,...,...,...,...,...,...
5307,Zimbabwe,ZWE,2017,0.650533,0.088,0.891727,0.344920,14751101.0,3795.642334
5308,Zimbabwe,ZWE,2018,0.783639,0.453,0.890810,0.347337,15052191.0,3923.030518
5309,Zimbabwe,ZWE,2019,0.723861,0.925,0.885695,0.343819,15354606.0,3630.033936
5310,Zimbabwe,ZWE,2020,0.676970,0.389,0.874602,0.334256,15669663.0,3353.411377
5311,Zimbabwe,ZWE,2021,0.706293,-0.125,0.862267,0.327004,15993525.0,NaN

In [56]:
merged_df = merged_df.rename(
    columns={
        'Country_x': 'Country',
    }
)

In [57]:
merged_df.columns

Index(['Country', 'ISO', 'Year', 'Annual CO2 emissions (per capita)',
       'Temperature', 'Per-capita methane emissions in CO2 equivalents',
       'Per-capita nitrous oxide emissions in CO2 equivalents',
       'Population - Sex: all - Age: all - Variant: estimates',
       'GDP per capita, PPP (constant 2017 international $)'],
      dtype='object')

In [58]:
new_column_order = ['Country', 'ISO', 'Year', 'Annual CO2 emissions (per capita)',
       'Per-capita methane emissions in CO2 equivalents',
       'Per-capita nitrous oxide emissions in CO2 equivalents',
       'Population - Sex: all - Age: all - Variant: estimates',
       'GDP per capita, PPP (constant 2017 international $)', 'Temperature']

In [59]:
merged_df = merged_df.reindex(columns=new_column_order)
merged_df

,Country,ISO,Year,Annual CO2 emissions (per capita),Per-capita methane emissions in CO2 equivalents,Per-capita nitrous oxide emissions in CO2 equivalents,Population - Sex: all - Age: all - Variant: estimates,"GDP per capita, PPP (constant 2017 international $)",Temperature
0,Afghanistan,AFG,1995,0.086323,0.582011,0.160896,16418911.0,NaN,0.359
1,Afghanistan,AFG,1996,0.080092,0.616903,0.167429,17106600.0,NaN,-0.116
2,Afghanistan,AFG,1997,0.073313,0.639881,0.177091,17788818.0,NaN,0.471
3,Afghanistan,AFG,1998,0.069134,0.650288,0.184699,18493134.0,NaN,0.675
4,Afghanistan,AFG,1999,0.056671,0.672737,0.190177,19262854.0,NaN,1.198
...,...,...,...,...,...,...,...,...,...
5307,Zimbabwe,ZWE,2017,0.650533,0.891727,0.344920,14751101.0,3795.642334,0.088
5308,Zimbabwe,ZWE,2018,0.783639,0.890810,0.347337,15052191.0,3923.030518,0.453
5309,Zimbabwe,ZWE,2019,0.723861,0.885695,0.343819,15354606.0,3630.033936,0.925
5310,Zimbabwe,ZWE,2020,0.676970,0.874602,0.334256,15669663.0,3353.411377,0.389
5311,Zimbabwe,ZWE,2021,0.706293,0.862267,0.327004,15993525.0,NaN,-0.125

In [ ]:
import os

if not os.path.exists("dataset"):
    os.makedirs("dataset")

merged_df.to_csv('dataset/data.csv', index=False)